<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>

<!--Conteudo-->
<ion-content padding>

  <form [formGroup]="formGrupo" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input  formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGrupo.controls.nome.dirty && formGrupo.controls.nome.errors">Valor inválido</p>

    <ion-item>
      <ion-label stacked>e-Mail*</ion-label>
      <ion-input  formControlName="email" type="email"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGrupo.controls.email.dirty && formGrupo.controls.email.errors">Valor inválido</p>

    <!-- Tipo de Pessoa-->
   <ion-list radio-group formControlName="tipoPessoa">
     <ion-list-header>
        Tipo de Cliente
     </ion-list-header>
     <ion-item>
       <ion-label>Pessoa Física</ion-label>
       <ion-radio checked="true" value="2"></ion-radio>
     </ion-item>
     <ion-item>
      <ion-label>Pessoa Jurídica</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>     
   </ion-list>

   <ion-item>
    <ion-label stacked>CPF ou CNPJ*</ion-label>
    <ion-input  formControlName="cpfOrCnpf" type="text"></ion-input>
  </ion-item>
  <p class="danger" *ngIf="formGrupo.controls.cpfOrCnpf.dirty && formGrupo.controls.cpfOrCnpf.errors">Valor inválido</p>

  <ion-item>
    <ion-label stacked>Senha</ion-label>
    <ion-input  formControlName="senha" type="password"></ion-input>
  </ion-item>
  <p class="danger" *ngIf="formGrupo.controls.senha.dirty && formGrupo.controls.senha.errors">Valor inválido</p>

  <ion-item>
    <ion-label stacked>Logradouro</ion-label>
    <ion-input  formControlName="logradouro" type="text"></ion-input>
  </ion-item>
  <p class="danger" *ngIf="formGrupo.controls.logradouro.dirty && formGrupo.controls.logradouro.errors">Valor inválido</p>

  <ion-item>
    <ion-label stacked>Número</ion-label>
    <ion-input  formControlName="numero" type="text"></ion-input>
  </ion-item>
  <p class="danger" *ngIf="formGrupo.controls.numero.dirty && formGrupo.controls.numero.errors">Valor inválido</p>

  <ion-item>
    <ion-label stacked>Complemento</ion-label>
    <ion-input  formControlName="complemtno" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Bairro</ion-label>
    <ion-input  formControlName="bairro" type="text"></ion-input>
  </ion-item>
  <p class="danger" *ngIf="formGrupo.controls.bairro.dirty && formGrupo.controls.bairro.errors">Valor inválido</p>

  <ion-item>
    <ion-label stacked>Cep</ion-label>
    <ion-input formControlName="cep" type="text"></ion-input>
  </ion-item>
  <p  *ngIf="formGrupo.controls.cep.dirty && formGrupo.controls.cep.errors">Valor inválido</p>

  <ion-item>
    <ion-label stacked>Telefone Principal*</ion-label>
    <ion-input  formControlName="telefone1" type="text"></ion-input>
  </ion-item>
  <p *ngIf="formGrupo.controls.telefone1.dirty && formGrupo.controls.telefone1.errors">Valor inválido</p>

  <ion-item>
    <ion-label stacked>Telefone 02</ion-label>
    <ion-input formControlName="telefone2" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Telefone 03</ion-label>
    <ion-input formControlName="telefone3" type="text"></ion-input>
  </ion-item>

  <!--Estado-->
  <ion-item>
    <ion-label stacked>Estado*</ion-label>
    <!--Toda vez que mudar o estado selecionado, muda a lista de cidades com o (ionChange)="updateCidades()"-->
    <ion-select formControlName="estado"(ionChange)="updateCidades()"> 
      <ion-option *ngFor="let estado of estados; first as f" [value]="estado.id" [selected]="f">
        {{estado.nome}}
      </ion-option>      
    </ion-select>    
  </ion-item>
  

  <!--Cidade-->
  <ion-item>
      <ion-label stacked>Cidade*</ion-label>
      <ion-select formControlName="cidadeId"(ionChange)="updateCidades()">  
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.id">
          {{cidade.nome}}
        </ion-option> 
      </ion-select>    
  </ion-item>
  
  <!-- [disabled]="formGrupo.invalid" - matem o butão desabilitado até que o formulario esteja completamente valido-->
  <button ion-button primary type="submit" [disabled]="formGrupo.invalid">Criar Conta</button>

  </form>
</ion-content>
